@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
body {
	background: #ececec;
}
.hole-wrapper {
	overflow: hidden;
	position: absolute;
	height: 180px;
	width: 160px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hole-wrapper .hole {
	left: 0;
	bottom: 0;
	transform: translate(-50%, 0);
	position: absolute;
	width: 160px;
	height: 40px;
	border-radius: 200%;
	background: #333333;
	box-shadow: inset 0 10px 0 #c0c0c0;
	animation: showHole 0.5s both;
}
.hole-wrapper .hole .arm {
	position: absolute;
	bottom: 0px;
	width: 30px;
	height: 45px;
	transform: translate(-40%, 0);
	left: 50%;
	background: #f5b078;
	animation: showArm 0.5s both;
	animation-delay: 0.5s;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 3% 100%);
}
.hole-wrapper .hole .hand {
	position: absolute;
	top: -30px;
	left: 60px;
	animation: showArm 0.5s both;
	animation-delay: 0.5s;
}
.hole-wrapper .hole .hand:after {
	content: '';
	display: block;
	background: #f5b078;
	position: absolute;
	width: 36px;
	height: 40px;
	top: 0;
	border-radius: 50px 25px / 52% 84%;
	z-index: 0;
}
.hole-wrapper .hole .hand .finger-up {
	z-index: 2;
	position: absolute;
	top: -20px;
	right: -8px;
	width: 12px;
	display: block;
	border-radius: 20px;
	background: #f5b078;
	height: 36px;
	clip-path: polygon(21% 0, 57% 0, 84% 51%, 100% 100%, 24% 100%, 21% 50%);
}
.hole-wrapper .hole .hand .finger {
	z-index: 2;
	position: relative;
	width: 25px;
	display: block;
	border-radius: 20px;
	background: #f5b078;
	height: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.hole-wrapper .hole .hand .finger:nth-child(3) {
	width: 23px;
}
.hole-wrapper .hole .hand .finger:nth-child(4) {
	width: 23px;
	height: 9px;
}
.hole-wrapper .hole .hand .finger:nth-child(5) {
	height: 8px;
	width: 23px;
}
.hole-wrapper .hole .wood {
	height: 155px;
	width: 14px;
	position: absolute;
	z-index: 1;
	bottom: 25px;
	left: 70px;
	background: #bc6043;
	border-radius: 10px;
	animation: showArm 0.5s both;
	animation-delay: 0.5s;
}
.hole-wrapper .hole .wood:before {
	font-family: 'Montserrat', sans-serif;
	content: 'Whoops!';
	font-weight: bold;
	display: block;
	background: white;
	width: 125px;
	position: absolute;
	height: 60px;
	left: -58px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
}
@keyframes showHole {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes showArm {
	0% {
		transform: translate(-40%, 200px);
	}
	100% {
		transform: translatey(-40%, 0);
	}
}

.title {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 3em;
	margin: auto;
	padding: 0.5em;
}

.btn {
	padding: 1em 2em;
	background-color: gray;
	border-radius: 5px;
	margin: 0 auto;
	cursor: pointer;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	width: fit-content;
	font-weight: bold;
	bottom: 50px;
	position: absolute;
	left: 25%;
	right: 25%;
}

.btn:hover {
	background-color: rgb(112, 112, 112);
}
