<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/error.css">
  <title>404</title>
</head>

<body>

  <h3 class=title>ERROR 404</h3>
  <div class="hole-wrapper">
    <div class="hole">
      <div class="wood"></div>
      <div class="hand">
        <span class="finger-up"></span>
        <span class="finger"></span>
        <span class="finger"></span>
        <span class="finger"></span>
        <span class="finger"></span>
      </div>
      <div class="arm">
      </div>
    </div>
  </div>
  <a class="btn" href="/">Go Home</a>
</body>

</html>